.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 50vh;
  }
  
  .messages {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    padding: 20px;
  }
  
  h3 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
  }

  .chat-input-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }



  .chat-input-upload {
    max-width: 100px;
  }

  .chat-input-field {
    flex: 0 0 calc(100% - 100px - 35px);
    max-width: calc(100% - 100px - 35px);
  }

  .chat-input-send {
    max-width: 35px;
  }
  
  .chat-input {
    /*position: relative;
    overflow: hidden;
    padding: 0 40px;*/
    margin-left: 30px;
    margin-right: 10px;

    /*flex-shrink: 0;*/
    
  }

  .chat-input-input {
    margin-bottom: 20px;
    height: 50px;
    border-radius: 8px;
    border: none;
  }
  
  .chat-input input[type="text"] {
    width: 100%;
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .message.from-me .username {
    display: none;
  }
  
  .message.from-me {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .message.from-me .message-body {
    background-color: #af9570;
    color: #999;
  }

  .message-body {
    background-color: rgb(236, 236, 236);
    color: rgb(83, 83, 83);
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: auto;
    margin-left: 20px;
  }
  
  .message {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 15px !important;
    padding: 10px;
  }
  .message-list {
    display: inline-block;
    padding: 20px;
    background-color:#ffffff;
    border: 1px;
    border-radius: 5px;
    padding-right: 50px;
    color: #4b4b4b;
    font: 600 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Lato,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 15px;
    max-height: 60vh;
    height: 60vh;
    overflow: auto;
  }
  
  .username {
    font-weight: bold;
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 5px;
  }

  .chatWindow {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 190;
    background: rgb(236, 236, 236);
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
  }

  .icon-button {
    border-radius: 20px !important;

  }

  .fa-icon {
    color: #1678d3;
    font-size: 1.5rem !important;
    margin-top: 12px;
  }
